
/*i will come back to this file this will be used to design the authentication Layout */


#authcontainer
{
  background-color: red;
}

#login
{

  .logo_wrapper
  {
    border-radius: 3px 3px 0px 0px;
  }

  .footer
  {
    border-radius: 0px 0px 3px 3px;
  }

}