.tld-form
{
  label
  {
    padding:5px 0px;
    font-weight: bolder;
    margin-top:1rem;
    color: $secondarybg;
  }
  .tld-input, .tld-input:hover, .tld-input:focus
  {

    padding: 20px 0px;
    border:solid 1px $secondarybg;
    background-color: lighten($body,2);
    text-indent: 5px;
    color:white;
  }


  .tld-button {
    border:none;
    border:solid 2px $secondarybg;
    background-color: darken($body,2);
    color: white;;
  }

  .tld-button:hover {
    background-color: lighten($body,1);
  }

}