.tld-form
{


  .tld-input, .tld-input:hover, .tld-input:focus
  {
    border:none;
    border-bottom: solid 3px $secondarybg;
    padding: 20px 0px;
    background-color:transparent;
    border-radius:0px;
    text-indent: 5px;;
    font-weight:bolder;

    color:black;

    :hover
    {
      background-color: red;
    }
  }


  .tld-button {
    border: solid 5px #ce1126;
    border-radius: 10px;
    background-color: #31353a;
    color: black;
  }

  .tld-button:hover {
    border-color: red;
    background-color: #ce1126;
  }

}