//Main Background
$body:darken(#f1f1f1,2);

$navbarbg:#000;
$navbartext:#fff;

$tabsbg:#515151;
$tabstext:#fff;

$tabstexthover:#000;
$tabs_hover:$body;



$primarybg:#fff;
$secondarybg:#ce1126;

$a-primary:black;
$a-secondary:#black;
//text-colours
$primary-text:#000;
$secondary-text:#fff;
