.tld-form
{


  .tld-input, .tld-input:hover, .tld-input:focus
  {
    border:none;
    border-bottom: solid 3px $secondarybg;
    padding: 20px 0px;
    background-color:transparent;
    border-radius:0px;
    text-indent: 5px;;
    font-weight:bolder;

    color:black;

    :hover
    {
      background-color: red;
    }
  }


  .tld-button {
    border: solid 3px #000;
    border-radius: 10px;
    background-color:#336699;
    color:#fff;
  }


}