
#navbar {
  min-height: 100vh;
  border-right: $border_size #353535 $border_type;
  a{
    color:white;
    text-align: center;
    font-weight: bold;
  }

  a:hover
  {
    background-color: #353535;
    color:white;
    font-weight: bolder;
    text-decoration: underline;
  }
}
