
body {
  @include body();
}


//Set the height of the .container_fluid with an id


.wrap {
  min-height: 95vh;

}

.footer {
  border-top: #353535 $border_size $border_type;
  color: $footer_text;
  text-align: center;
  min-height: 5vh;
  font-size: 1.3rem;
  font-weight: bolder;
}

#topbar {
  background-color: #353535;
  color: #fff;

  a.menu, a.closemenu {
    background-color: $primary_bg;
    color: white;
    border-radius: 20%;
  }
  a.menu:hover, a.closemenu:hover
  {
    background-color:white;
    color:#000;
  }
}

.box {
  color: $primary-text;

  .head {
    background-color: #353535;
    border-bottom: solid 1px #ffff;
    font-size: 18px;
    font-weight: bolder;
    text-indent: 5px;
    margin-bottom: 5px;
  }
}
