
//Body
$body: #1d1d1d;
$body_text:white;
$body_font_size:16px;


//Primary colours
$primary_bg: #515151;
$primary-text:#fff;
$primary_border_color:white;



//Navbar

$nav_bg:#000;
$nav_text:white;

$nav_a_text:white;
$nav_a_text_hover:black;

$nav_a_bg:white;
//$nav_a_bg_active:darken($nav_bg,2);
//$nav_a_bg_hover:lighten($nav_bg,2);

//Please feel free to edit the settings under desktop Global and Mobile to override csss settings
$border_color:#000;
$border_size:2px;
$border_type:solid;

$footer_bg:#000;
$footer_text:white;